# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /


<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.wallstroi\.ru$ [NC]
RewriteRule ^(.*)$ http://wallstroi.ru/$1 [R=301,L]
</IfModule>

RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteRule ^(.*)(/)$ $1 [L,R=301]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*(default|index|main)\.(html|php|htm)\ HTTP/ [NC]
RewriteRule ^(([^/]+/)*)(default|main|index)\.(html|php|htm)$ http://wallstroi.ru/$1 [L,R=301]