
body{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
	position: static !important;
}

h1{
	font-size: 150px !important;
}

h3 {
  font-size: 1.17em;
}

p{
	font-size: 12px;
	color: #666;
	color: rgb(102, 102, 102);
	display: block;
	font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
	font-size: 12px;
}

.content-container{
	margin: 0 auto;
	max-width: 1150px;
	width: 100%;
}

.start-img-bg{
	margin-top: 62px;
	background: url('img/bg.jpg');
	max-height: 1000px;
}

.attractor{
	width: 200px;
	height: 200px;
	color: rgba(255, 0, 0, 0.7)
}

.tel-span{
	text-align: center;
}

.how-we-work {
	border-bottom: 1px solid red;
	font-weight: lighter;
}
md-tabs-canvas {
	min-height: 80px;
}
md-tabs-wrapper {
	width: 100%;
}

md-pagination-wrapper{
	margin: 0 0 !important;
}

md-tabs-canvas.md-center-tabs .md-tab {
	width: 50%;
}

.main-container{
	background-color: rgba(238, 238, 238, 1);
	display: inline-table;
  	width: 100%;
}

.calc-container {
	max-height: 400px;
	min-height: 400px;
	max-width: 800px;
}

.calc-help-container{
	max-width: 300px;
}

.steps-container{
	margin-top: 50px;

	.step{
		width: 100%;
		margin: 20px 20px;
		max-width: 520px;
		min-height: 250px;

	}
	
	.steps-container_step {
		width: 100px;
		height: 100px;
	}
}

.costs-container {
	
	margin-top: 80px; 
	height: 400px;
	border-top: 5px dashed #d8d8d8;
}

//modifiers
.no-margin{
	margin: 0;
}

.fixed{
	position: fixed;
}

.place-type_span {
	color: #777;

	&.active{
		color: #448AFF
	}
}

@-moz-document url-prefix(){

}