<md-toolbar class="toolbar" style="background: #222222; color: #fff" layout="row" layout-align="center center">
	<div class="content-container" layout="row" layout-align="end center" layout-margin flex>
		<span flex>LOREM IPSUM DOLOR SIT AMET CONSE.</span>
		<span style="color: red; font-size: 50px; padding-top: 18px; padding-right: 10px;">*</span> 
		<span>8(862) 225-88-15 </br> <span style="color: #f0f0f0; font-size: 12px">с 9 00 до 18 00</span></span>
	</div>
</md-toolbar>
<md-toolbar class="toolbar" style="background: #111" layout="row" layout-align="center center">
	<div class="content-container" layout="row" layout-margin flex>
		<div style="margin-left: 5px; margin-top: 20px">
			<span style="color: white; text-transform: uppercase; font-family: arial">
				<md-icon style="color: #efb814;" md-svg-icon="img/icons/ic_landscape_24px.svg"></md-icon>
				wallstroi
			</span>
		</div>
		<div layout="row" layout-align="end center" layout-fill  layout-margin flex>
			<md-button><a ui-sref="services" style="text-transform: none;  color: #fff;">Услуги</a></md-button>
			<md-button><a ui-sref="company" style="text-transform: none; color: #fff;">О компании</a></md-button>
			<md-button><a ui-sref="contacts" style="text-transform: none; color: #fff;">Контакты</a></md-button>
		</div>
	</div>
</md-toolbar>
