
<div class="content-container services-container"  style="padding-top: 30px">
	<img src="img/slide.jpg" style="position: absolute; z-index: 1; left: 0; top: 40px">
	<h1 style="width: 100%; z-index: 2; position: relative; font-size: 100px; margin-bottom: 0">Плитка</h1>
	<h2 style="width: 100%; z-index: 2; position: relative; font-size: 60px; font-weight: 200; margin-top: 10px;">
		Плиточные работы в Сочи
	</h2>
	<div layout style="width: 100%; z-index: 2; position: relative; margin-top: 150px" flex>
		<md-whiteframe class="md-whiteframe-z1 service-tile" style="background: #eb7f0f" layout="column" layout-align="start start" flex>
				<h2>Укладка кафеля</h2>
				<h6>LOREM IPSUM DOLOR SIT AMET CONSE CTETUR ADIPISICING ELIT.</h6>
				<p flex>
					Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
				</p>
				<div style="width: 100%" layout="row" layout-align="start center">
					<a class="read-more-button">Подробнее</a>
				</div>
		</md-whiteframe>
		<md-whiteframe class="md-whiteframe-z1 service-tile slab" style="background: #f58b11" layout="column" layout-align="start start" flex>
			    <h2>Тротуарная плитка</h2>
			    <h6>LOREM IPSUM DOLOR SIT AMET CONSE CTETUR ADIPISICING ELIT.</h6>
			    <p flex>
					Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
				</p>
				<div style="width: 100%" layout="row" layout-align="start center">
					<a class="read-more-button">Подробнее</a>
				</div>
		</md-whiteframe>
		<md-whiteframe class="md-whiteframe-z1 service-tile" layout="column" style="background: #f79912" layout-align="start start" flex>
			    <h2>Облицовка фасадов</h2>
			    <h6>LOREM IPSUM DOLOR SIT AMET CONSE CTETUR ADIPISICING ELIT.</h6>
			    <p flex>
					Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
				</p>
				<div style="width: 100%" layout="row" layout-align="start center">
					<a class="read-more-button">Подробнее</a>
				</div>
		</md-whiteframe>
	</div>
</div>


<div style="margin-top: 70px; padding: 20px; background-color: #1B1B1B;">
	<div class="content-container special-container"  style="padding-top: 30px">
		<div style="width: 100%; z-index: 2; position: relative; color: #999" flex>	
			<h2>ХОТИТЕ ПОЛУЧИТЬ СКИДКУ?</h2>
			<h6>DONEC SIT AMET EROS. LOREM IPSUM DOLOR AMET, CONSECTETUER ADIPISCING ELIT.</h6>
			<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.</p>

			<form layout="row" layout-align="center center" layout-padding>
				<div layout="column" layout-margin>
					<div layout>
						<md-input-container style="margin-right: 30px;">
					      	<label>Имя Фамилия</label>
					     	<input ng-model="name">
					    </md-input-container>
					    <md-input-container>
					      	<label>Телефон</label>
					     	<input ng-model="phone">
					    </md-input-container>
					</div>
					<md-input-container style="max-width: 424px">
					 	<label>Текст вашего сообщения</label>
				     	<textarea ng-model="comment" columns="1" md-maxlength="300"></textarea>
				    </md-input-container>
				</div>
				<div style="width: 350px; padding-top: 25px;" layout layout-align="center center">
					<a class="read-more-button hover-orange">Отправить</a>
				</div>
			</form>
			
		</div>
	</div>		
</div>
